<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title><%=titulo%></title>
</head>
<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #549680;
    color: #495057;
}

div{
    text-align: center;
}

.main-content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #549680;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #24312d;
    color: white;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn-danger a {
    color: #ffffff;
    text-decoration: none;
}

.main-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #549680;
}

.table th {
    background-color: #007bff;
    color: #ffffff;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}
</style>
<body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <main>
        <% if(!isPost){ %>
        <form class="main-content" action="/pago" method="post">
            <div class="input-container">
                <label for="numero">Numero Recibo</label>
                <input id="numero" type="number" name="numero" placeholder="Número de folio" />
            </div>
            <div class="input-container">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" name="nombre" placeholder="Nombre de la persona" required/>
            </div>
            <div class="input-container">
                <label for="domicilio">Domicilio</label>
                <input id="domicilio" type="text" name="domicilio" placeholder="Colonia, Calle y Número" required/>
            </div>
            <div class="input-container">
                <label for="servicio">Tipo de Servicio</label>
                <select id="servicio" name="servicio">
                    <option value="0">Domestico</option>
                    <option value="1">Comercial</option>
                    <option value="2">Industrial</option>
                </select>
            </div>
            <div class="input-container">
                <label for="kwConsumidos">Kilowatts Consumidos</label>
                <input id="kwConsumidos" type="number" name="kwConsumidos" placeholder="Cantidad de Kilowatts" required/>
            </div>
            <div class="buttons-container">
                <button class="btn btn-primary" type="submit">
                    Calcular
                </button>
                <button class="btn btn-danger"><a href="/pago">Limpiar</a></button>
            </div>
        </form>

        <%} else{ %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de servicio</th>
                    <th scope="col">Kilowatts Consumidos</th>
                    <th scope="col">Costo por Kilowatts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= numero %></td>
                    <td><%= nombre %></td>
                    <td><%= servicio %></td>
                    <td><%= kwConsumidos %></td>
                    <td><%= precioKw %></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal:</td>
                    <td><%= subtotal %></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Impuesto:</td>
                    <td><%= impuesto %></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Descuento:</td>
                    <td><%= descuento %></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total a pagar:</td>
                    <td><%= subtotalConDescuento %></td>
                </tr>
            </tbody>
        </table>
        <% } %>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>
